[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

pytest = "==3.2.3"
alagitpull = "==0.0.13"
"sphinx-click" = "==1.0.3"
releases = "==1.4.0"
sphinx = "*"




[packages]
"e1839a8" = {path = ".", editable = true}