[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = ">=0.0.22"
sphinx-click = "==2.1.0"
Sphinx = ">=2.0.1"
isort = "==4.3.18"
flake8 = "==3.7.7"
pytest = "==4.4.1"
cihai-cli = {path = ".",editable = true}

[packages]
cihai = ">=0.9.0a3"
click = "==6.7"
PyYAML = "<6,>=3.12"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
